# Jax
--find-links https://storage.googleapis.com/jax-releases/jax_nightly_releases.html
jax[cuda12]==0.4.32.dev20240822

flax==0.8.5
distrax==0.1.5

# Metaworld
metaworld @ git+https://github.com/rainx0r/Metaworld.git@bdfae43

# Pytorch CPU for logging
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0

# Logging
wandb==0.17.6
tensorboard==2.17.1
orbax-checkpoint==0.6.0
